# Ignored Unity folders
Library/
Temp/
Obj/
Logs/
Builds/
UserSettings/
Assets/AssetStoreTools*

# Visual Studio and IDE-related files
.vs/
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
.vsconfig

# Unity3D specific meta and crash files
*.pidb.meta
*.pdb.meta
sysinfo.txt

# Build files
*.apk
*.unitypackage
